name: Spring CI

on:
  pull_request:
    branches: [ develop ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'adopt'
      #서브모듈 업데이트
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          submodules: recursive
          token: ${{ secrets.TOKEN }}

      - name: Set spring.profiles.default value
        run: |
          if [[ "${{ github.base_ref }}" == "develop" ]]; then
               sed -i 's/default: local/default: develop/' drrr-api/src/main/resources/application.yml
          fi

      ## docker compose up (docker-compose 기반)
      - name: Build and run Docker Compose
        run: |
          docker-compose up -d
          docker image prune -f

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Build with Gradle
        run: ./gradlew clean build

      #Docker의 Buildx는 Docker의 CLI 플러그인으로, Docker 이미지를 빌드하는데 사용
      - name: Setup docker buildx
        id: buildx
        uses: docker/setup-buildx-action@v1

      # Docker 레이어를 캐시하는 작업
      - name: Cache docker layers
        uses: actions/cache@v2
        with:
          path: /tmp/.buildx-cache
          key: ${{ runner.os }}-buildx-${{ env.VERSION }}
          restore-keys: |
            ${{ runner.os }}-buildx-

      #jar 파일 생성 후 docker hub에 푸시(Dockerfile 기반)
      - name: Build and push Docker image
        env:
          TOKEN: ${{ secrets.DOCKER_TOKEN }}
        run: |
          docker build -t ${{ secrets.DOCKER_HUB_DEV }} .
          docker login -u ${{ secrets.DOCKER_HUB_YYK_LOGIN }} -p $TOKEN
          docker push ${{ secrets.DOCKER_HUB_DEV }}
